body{
  font-family: 'Roboto', sans-serif;
  height: 80vh;
  width: 95vw;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("https://lh3.googleusercontent.com/proxy/nMIspgHzTUU0GzmiadmPphBelzF2xy9-tIiejZg3VvJTITxUb-1vILxf-IsCfyl94VSn6YvHa8_PiIyR9d3rwD8ZhNdQ1C1rnblP6zy3OaI=w3840-h2160-p-k-no-nd-mv");
}
.google{
  height: 92px;
  width: 272px;
}
h1{
  margin: 10px auto 0 auto;
  color:#F5F5F5;
  line-height: 2;
  font-weight: bold;
  font-size: 6rem;
}
.sea-search{
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 1;
  top: 40px;
  right: 240px;
}
.sea-voice{
  height: 20px;
  width: 20px;
  position: relative;
  bottom: 30px;
  left: 240px;
}
.in{
  height: 39px;
  width: 450px;
  border-radius: 2em;
  box-shadow: 0 0 2px -1px;
  outline: none;
  border: none transparent;
  color: grey;
  font-size: 1rem;
  padding-left: 5rem;
}
.google-input{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
}
.mass{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gdb-a{
  text-decoration: none;
}

.youtube-a{
  text-decoration: none;
}

.whatsapp-a{
  text-decoration: none;
}

.programiz-a{
  text-decoration: none;
}

.colorhunt-a{
  text-decoration: none;
}

.baccon-a{
  text-decoration: none;
}

.codeply-a{
  text-decoration: none;
}

.bootstrap-a{
  text-decoration: none;
}

.add{

}

#navdiv{
  display:flex;
  width:17%;
  margin-left: 86%;
  justify-content: space-around;
  margin-top: 1%;
  height:35px;
  text-decoration: none;
}
nav img{
  margin-top: 5px;
}
.c1{
  color:#F5F5F5;
  text-decoration: none;
  height: 10px;
  width: 10px;
  margin-top: 2%;
}
.c2{
  color:#F5F5F5;
  text-decoration: none;
  margin-top: 2%;
}
.c1:hover{
  text-decoration:underline;
}
.c2:hover{
  text-decoration:underline;
}
.bt{
  border: 10px solid transparent;
}
.mail{
  border-radius: 30px;
  margin-top: 2%;
}

  .container{
    margin-bottom: 20px;
    margin-left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container-1{
    margin-top: 50px;
    display: flex;
    margin-right: 2%;
    justify-content: center;
    align-items: center;
  }
.flex{
  height: 100px;
  margin-left: 1%;
  width: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom:
}
.p{
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  color: #F5F5F5;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 81.25%;
}
.gp{
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  color: #F5F5F5;
  font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
  font-size: 81.25%;
}
.icons{
  margin-top: 20px;
}
img{
  margin-left: 1%;
}
.flex:hover{
  opacity: 0.5;
  background-color: transparent;
}
.mass-gdb{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  z-index: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

@media screen and (max-width:900px){
  .search{

  }
}
